table{
    width: 80%;
}
tr{
    border: 1px solid gray;


}
th{
    font-size: 22px;
    border: 1px solid gray;


}

td{
    font-size: 18px;
    border: 1px solid gray;
}
#exit{
    visibility: hidden;
}
#form{

    margin-left: 10px;
}
.ddiv{
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.flex{display: flex;}
#FormBt,#RemoveBt{
    visibility: hidden;
}